@charset "utf-8";

#img_wr {
    margin: 0 auto;
    width: 800px;
    height: 300px;
    background-color: antiquewhite;
    display: flex;
}

.img_wr_box1 {
    width: 100%;
    height: 300px;
    background-color: aqua;
    flex-shrink: 4;
}
.img_wr_box2 {
    width: 100%;
    height: 300px;
    background-color: rosybrown;
    flex-shrink: 4;
}
.img_wr_box3 {
    width: 100%;
    height: 300px;
    background-color: teal;
    flex-shrink: 4;
}
.img_wr_box4 {
    width: 100%;
    height: 300px;
    background-color: wheat;
    flex-shrink: 4;
}
.wrbg {
    transition: all 0.7s ease;
}
.wrbg:hover {
    flex-shrink: 3;
}