@charset "utf-8";

#menu {
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    align-items: center;
}
#menu > .logo {
    width: 20%;
}
#menu > .logo > img {
    width: 100px;
    margin: 0 0 0 100px;
    
}

#menu > .meLi {
    width: 70%;
    height: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

#menu > .meLi > li {
    width: auto;
    line-height: 100px;
    margin: auto 2%;
}

#menu > .meLi > li a {
    font-weight: 500;
    font-size: 1.1em;
}


#main_top {
    width: 100%;
    height: 800px;
    background-color: #fff;
    background-image: url("/mysr_project2/img/bg_graphic.png");
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size:cover; 
    /* background-size cover 입력해줘야 크기가 화면에 따라 맞춰짐 */
}

#main_slide {
    width: 100%;
    height: 700px;
    background-color: #eee;
    background-image: url("/mysr_project2/img/bg_graphic_iv.png");
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size:cover;
}

#main_stage {
    width: 100%;
    height: 2500px;
    background-color: #fff;
    background-image: url("/mysr_project2/img/bg_graphic_g.png");
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size:cover;
}

#main_notice {
    width: 100%;
    height: 1000px;
    background-color: gray;
    background-image: url("/mysr_project2/img/bg_graphic_w.png");
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size:cover;
}


#main_entertainment {
    margin: 0 auto;
    width: 100%;
    height: 600px;
    background-color: antiquewhite;
    display: flex;
}

.img_wr_box1 {
    width: 100%;
    height: auto;
    background-color: aqua;
    flex-shrink: 4;
}
.img_wr_box2 {
    width: 100%;
    height: auto;
    background-color: rosybrown;
    flex-shrink: 4;
}
.img_wr_box3 {
    width: 100%;
    height: auto;
    background-color: teal;
    flex-shrink: 4;
}
.img_wr_box4 {
    width: 100%;
    height: auto;
    background-color: rosybrown;
    flex-shrink: 4;
}
.wrbg {
    transition: all 0.7s ease;
}
.wrbg:hover {
    flex-shrink: 3;
}

footer {
    width: 100%;
    height: 400px;
    background-color: grey;
}