@charset "utf-8";


#menu {
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 999;
}
#menu > .logo {
    width: 20%;
}
#menu > .logo > a > img {
    width: 100px;
    margin: 0 0 0 100px;
    
}

#menu > .meLi {
    width: 70%;
    height: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

#menu > .meLi > li {
    width: auto;
    line-height: 100px;
    margin: auto 2%;
}

#menu > .meLi > li a {
    font-weight: 500;
    font-size: 1.1em;
    color: white;
}

#menu > .meLi > li > a > img {
    width: 20px;
    display: block;
    filter: invert();
}

/*여기부터 햄버거 메뉴*/
#menu > .hambuger {
    width: 10%;
    height: auto;
    position: absolute;
    right: 5%;
    cursor: pointer;
    display: none;
}
#menu > .hambuger > img{
    width: 50px;
    height: auto;
}
.overlay {
    height: 100%;
    width: 0;
    /*해당 값을 0으로 줘야 자바스크립트를 통해 숨기고 나타냄을 표현 할 수 있음*/
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
    background-color: white;
    background-color: rgba(255,255,255,0.95);
    overflow-x: hidden;
    /*해당 값을  hidden으로 줘야 width값에 따라 텍스트가 숨겨지고 보여짐이 가능함. */
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 30px;
}

.overlay a {
    padding: 10px;
    line-height: 160%;
    font-size: 30px;
    color: #f49e00;
    transition: 0.3s;
    font-weight: bold;
    display: block;
    white-space: nowrap;
    /*hidden시 글자가 줄넘김 되지 않도록 해줌*/
}
.overlay a img {
    width: 40px;
}
.overlay a:hover,
.overlay a:focus {
    color: #333;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


/*여기부터 sub1_top*/
#sub1_top {
    width: 100%;
    height: 90vh;
    background-color: black;
    background: url("img/sub_video.mp4");
    text-align: center;
    position: relative;
    overflow: hidden;
}
#sub1_top > .st_text {
    position: absolute;
    color : #fff;
    z-index: 2;
    transform: translate(-50%,-50%);
    top: 60%;
    left: 50%;
    font-size:4em;
    font-weight: 600;
}

#sub1_top > img {
    filter: invert(1);
    position: absolute;
    z-index: 2;
    width: 30px;
    transform: translate(-50%,-50%);
    opacity: 0.8;
    top: 82%;
    left: 50%;
    cursor: pointer;
    animation-name: arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes arrow {
    0%{
        top: 82%;
    }
    50%{
        top: 87%;
    }
}

#sub1_top > video {
    height: 250%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    filter:brightness(0.2);
    z-index: 1
}

/*여기부터 sub1_intro_t*/
#sub1_intro_t {
    width: 100%;
    height: 200vh;
    background-image: url("../img/bg_graphic_w2.png");
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}

#sub1_intro_t > .sit_b {
    height: 100vh;
    position: relative;
}
#sub1_intro_t > .sit_b > img {
    width: 35%;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}
#sub1_intro_t > .sit_b > div {
    width: 40%;
    position: absolute;
    transform: translateY(-50%);
    top: 65%;
    font-size: 1vw;
    padding: 3%;
}
#sub1_intro_t > .sit_b > div > h2 {
    font-size: 3.5em;
    font-weight: 600;
    margin: 0 0 5% 0;
}
#sub1_intro_t > .sit_b > div > h4 {
    font-size: 1.2em;
    font-weight: 400;
    margin: 0 0 2% 0;
    
}
#sub1_intro_t > .sit_b > div > p {
    font-size: 0.8em;
    font-weight: 300;
}

#sub1_intro_t > .sit1 > img {
    width: 35%;
    right: -30%;
    opacity: 0;
}
#sub1_intro_t > .sit1 > div{
    left: 15%;
    text-align: right;
}

#sub1_intro_t > .sit2 {
    margin: -5% 0 0;
}
#sub1_intro_t > .sit2 > img {
    width: 55%;
    left: -25%;
    opacity: 0;
}
#sub1_intro_t > .sit2 > div{
    text-align: left;
    right: 5%;
}



/*여기부터 sub1_intro_bt*/
#sub1_intro_bt {
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
    background-image: url("../img/bg_graphic_w2.png");
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size:cover;
}

#sub1_intro_bt > .bt_wr {
    width: 100%;
    height: 100vh;
    display: flex;
}

#sub1_intro_bt > .bt_wr > .bt_left {
    width: 50%;
    height: 70vh;
    margin: 15vh 0;
    background-image: url("../img/bracket.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}
#sub1_intro_bt > .bt_wr > .bt_right {
    width: 50%;
    height: 70vh;
    margin: 15vh 0;
    background-image: url("../img/bracket.png");
    transform: scaleX(-1);
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}

#sub1_intro_bt > .bt_box {
    position: absolute;
    width: 100%;
    height: 50vh;
    margin: 25vh 0;
    top: 0;
    overflow: scroll;
    
}

.bt_box::-webkit-scrollbar{
    display:none;
  }

#sub1_intro_bt > .bt_box > .bt_text_wr {
    height: auto;
}

#sub1_intro_bt > .bt_box > .bt_text_wr > .bt_text_box {
    height: 50vh;
    font-size: 1.5em;
    top: 0;
    
}

#sub1_intro_bt > .bt_box > .bt_text_wr > .bt_text_box > h3 {
    margin-top: 100px;
}

.fix_sub1 {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.tr_sub1 {
    transform: translate3d(0, 0, 0);
    position: sticky;
}



/*여기부터 sub1_greeting*/
#sub1_greeting {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

#sub1_greeting > div {
    width: 35%;
    height: 70vh;
    margin: 10vh 20px 0;
    overflow: hidden;
}
#sub1_greeting > div > .gr_img_wr {
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

#sub1_greeting > div > .gr_img_wr > .gr_img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    cursor: pointer;
}
#sub1_greeting > div > .gr_img_wr > .gr_img:hover {
    transition: all 0.7s ease;
    transform: scale(1.05);
}

#sub1_greeting > div > .gr_img_wr > .gr1 {
    background-image: url("../img/ceo_one.jpg");
}
#sub1_greeting > div > .gr_img_wr > .gr2 {
    background-image: url("../img/chairman.jpg");
}

#sub1_greeting > div > span {
    cursor: pointer;
    display: inline-block;
    margin: 3vh 0 0;
    font-size: 1.2em;
    font-weight: 300;
}

/*여기부터 sub1_history*/
#sub1_history {
    width: 100%;
    height: 100vh;
    min-height: 650px;
    background-color: aquamarine;
    display: flex;
    flex-flow: row wrap;
    position: relative;
}

#sub1_history > #his_text {
    background-color: peachpuff;
    width: 100%;
    height: 20%;
}

#sub1_history > #his_scroll_wr {
    background-color: cornflowerblue;
    width: 100%;
    height: 80%;
}

#sub1_history > #his_scroll_wr > .his_scroll {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    background-color: #f49e00;
    position: relative;
    overflow: hidden;
}

#sub1_history > #his_scroll_wr > .his_scroll > .his_scroll_in {
    background-color: pink;
    width: auto; 
    height: 80%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 0;
    display: flex;
}

#sub1_history > #his_scroll_wr > .his_scroll > .his_scroll_in > div {
    width: 600px;
    height: 90%;
    margin: auto 30px;
    background-color: bisque;
}



footer {
    width: 100%;
    height: 300px;
    background-color: black;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    color: #555;
    text-align: center;
    position: relative;
}
footer > div:nth-of-type(1) {
    width: 100%;
    text-align: center;
}

footer > div:nth-of-type(1) > img {
    width: 150px;
    margin: 2%;
}
footer > div:nth-of-type(2) {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
footer > div:nth-of-type(2) > ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 0.9em;
    width: 100%;
    
}
footer > div:nth-of-type(2) > ul > li:nth-of-type(2n){
    opacity: 0.7;
    font-size: 0.7em;
    padding: 0 5px;
}

footer > div:nth-of-type(2) > ul > li > a {
    color: #555;
}
footer > div:nth-of-type(2) > p {
    font-size: 0.9em;
}